extends layout 

block content 
    p Username: #{person.username}
    p Age: #{person.age}
    p Email: #{person.email}
    p Are uncrustables a calzone or ravioli? #{person.question1}
    p Who should narrate your life? #{person.question2}
    p Which superpower would you most want to have? #{person.question3}
    br
    p Time From Last Login: #{niceTime}
    br
    form(action="/logout", method="get") 
        input(type="submit" value='Logout' class='button')
    form(action=`/edit/${person.username}`, method='get')
        input(type="submit", value="Edit Details" class='button')
    form(action=`/admin`, method='get')
        input(type="submit", value="Admin Controlls" class='button')
