extends layout 

block content 
    p Username: #{person.username}
    p Age: #{person.age}
    p Email: #{person.email}
    p Are uncrustables a calzone or ravioli? #{person.question1}
    p Who should narrate your life? #{person.question2}
    p Which superpower would you most want to have? #{person.question3}
    br
    p 
        a(href='/loggedIn') Go Back