extends layout 

block content 
    form(id='form' method='Post' action='/edit/' + person.username)
        label(for='username') Username: 
        input(type='text' name='username' value=person.username)
        br
        label(for='password') Password:
        input(type='text' name='password')
        br
        label(for='age') Age: 
        input(type='text' name='age' value=person.age)
        br
        label(for='email') Email: 
        input(type='text' name='email' value=person.email)
        br
        label(for='quest1') Are uncrustables a calzone or ravioli?
        select(name='ans1')
            option(selected=person.question1) #{person.question1}
            option(value='Calzone') Calzone 
            option(value='Ravioli') Ravioli
        br
        label(for='quest2') Who should narrarate your life?
        select(name='ans2')
            option(selected=person.question2)  #{person.question2}
            option(value='Morgan Freeman') Morgan Freeman 
            option(value='James Earl Jones') James Earl Jones 
            option(value='Jim Carrey') Jim Carrey 
            option(value='Ryan Reynolds') Ryan Reynolds
        br
        label(for='quest3') Which superpower would you most want to have?
        select(name='ans3')
            option(selected=person.question3) #{person.question3}
            option(value='Super Speed') Super Speed 
            option(value='Flight') Flight 
            option(value='Super Strength') Super Strength 
            option(value='Telekinesis') Telikinesis
        br
        input(type='submit' value='Update Person')
    br
    br
    form(action=`/details/${person.username}`, method='get')
        input(type="submit", value="Back")